body {
    overflow: hidden;
}

#app-topbar {
    position: relative;
    z-index: 200;
    width: 100%;
    max-width: 100%;
    height: var(--topbar-height);
    min-height: var(--topbar-height);
    max-height: var(--topbar-height);
    left: 0;
    top: 0;

    padding: 20px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;

    font-size: 40px;
    color: rgb(var(--font-color-light));

    box-shadow: 0px 5px 5px -4px var(--window-shadow);
}

#pages-box {
    position: absolute;
    top: var(--topbar-height);
    height: calc(100% - var(--topbar-height));
    width: 100%;
}

#app-topbar > * {
    display: flex;
}

#app-topbar .profile-box {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 100000px;

    padding: 0 20px;

    position: relative;
    transition: var(--transition-time) ease;

    user-select: none;
}

#app-topbar .profile-box:not(:has(.profile-scrolldown:hover)):hover {
    background: rgba(var(--primary-color), 0.2);
    cursor: pointer;
}

#app-topbar .profile-scrolldown {
    position: absolute;
    top: calc(100% + 50px);
    right: 0;

    z-index: 1;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;

    padding: 10px 20px;
    border-radius: 10px;

    background: var(--window-background);
    border: var(--window-border);
    box-shadow: 0 0 10px 0 var(--window-shadow);

    transition: var(--transition-time) ease;
}

#app-topbar .profile-scrolldown:not(.shown) {
    opacity: 0;
    pointer-events: none;
}

#app-topbar .profile-scrolldown .entry:not(.hidden) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    text-wrap: nowrap;
    transition: var(--transition-time) ease;
}

#app-topbar .profile-scrolldown .entry.logout {
    color: red;
}
z-index
#app-topbar .profile-scrolldown .entry:hover {
    background: rgba(var(--primary-color), 0.2);
    cursor: pointer;
}

#app-topbar .profile-details {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#app-topbar .profile-image {
    height: 80%;
    aspect-ratio: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

#pages-box > .page {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 10px;

    opacity: 1;
}

body.animate #pages-box > .page.animate {
    transition: var(--transition-time) ease;
}

#pages-box > .page:not(.shown) {
    opacity: 0;
    pointer-events: none;
}

#search-bar {
    height: 100%;
    flex: 1 1 1px;

    display: flex;
    align-items: center;

    border-radius: 5px;
    border: 3px solid rgba(var(--primary-color), 0.5);

    gap: 15px;

    padding: 0 15px;

    position: relative;
}

#search-bar > .search-input {
    height: 100%;
    flex: 1 1 1px;
    font-size: 24px;

    color: currentColor;
}

#search-bar > .icon {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar > .icon > svg {
    height: 60%;
    aspect-ratio: 1;
    fill: currentColor;
}

#search-bar .search-suggestions {
    position: absolute;
    min-width: 100%;
    width: 120%;
    max-width: 150%;
    top: calc(100% + 50px);
    left: 50%;
    border: 2px solid rgba(var(--primary-color));
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(var(--primary-color));
    padding: 15px;
    transform: translate(-50%, 0);
    text-wrap: nowrap;
    overflow: hidden;
    background: var(--window-background);
    transition: 300ms ease;
    opacity: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#search-bar .search-suggestions:not(.shown) {
    opacity: 0;
    pointer-events: none;
}

#search-bar .search-suggestions .suggestion {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding: 10px 20px;
    border-radius: 5px;
}

#search-bar .search-suggestions .suggestion.selected {
    background: rgba(var(--primary-color), 0.2);
}

#search-bar .search-suggestions .suggestion:hover {
    background: rgba(var(--primary-color), 0.2);
    cursor: pointer;
}

#search-results-page {
    padding: 50px 10px !important;
}

#search-results-page > .back-button {
    top: 20px;
}

#search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    column-gap: 10px;
    row-gap: 80px;
}

#search-results > .header {
    font-size: 48px;
    grid-column: 1 / -1;
    color: rgba(var(--font-color-light));
}

#search-results > .result {
    position: relative;
    max-width: 400px;
    max-height: 600px;
    width: 400px;
    height: 600px;
    cursor: pointer;
    border: 3px solid rgb(var(--font-color-light));
    border-radius: 5px;

    transition: var(--transition-time) ease;

    user-select: none;
}

#search-results > .result .thumbnail {
    margin: 0px auto;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    transition: inherit;
}

#search-results > .result:hover .thumbnail {
    filter: brightness(0.5);
}

#search-results > .result .details {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 30%;
    top: 70%;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, .4) 80%, transparent);
}

#search-results > .result .title {
    font-size: 32px;
    color: rgb(var(--font-color-light));
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
    text-align: center;
}

#search-results > .result .description {
    display: none;
}

#search-results > .result .tooltip {
    position: absolute;
    width: 60px;
    aspect-ratio: 1;
    right: 10px;
    top: 10px;
    z-index: 200;

    transition: inherit;
}

#search-results > .result:not(:hover) .tooltip {
    opacity: 0;
    position: none;
}

#search-results > .result .tooltip-icon {
    width: 100%;
    height: 100%;
    fill: rgb(var(--font-color-light));
    
    transition: inherit;
}

#search-results > .result .tooltip-icon:hover {
    fill: rgba(var(--font-color-light), 0.5);
    cursor: pointer;
}