#app-topbar {
    position: relative;
    width: 100%;
    height: var(--topbar-height);
    left: 0;
    top: calc(0px - var(--topbar-height));

    padding: 20px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 40px;
    color: rgb(var(--font-color-light));

    box-shadow: 0px 5px 5px -4px var(--window-shadow);
}

#app-topbar > * {
    display: flex;
}

#app-topbar .profile-box {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 100000px;

    padding: 0 20px;

    position: relative;
    transition: var(--transition-time) ease;
}

#app-topbar .profile-box:not(:has(.profile-scrolldown:hover)):hover {
    background: rgba(var(--primary-color), 0.2);
    cursor: pointer;
}

#app-topbar .profile-scrolldown {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;

    padding: 10px 20px;
    border-radius: 10px;

    background: var(--window-background);
    border: var(--window-border);
    box-shadow: 0 0 10px 0 var(--window-shadow);
}

#app-topbar .profile-scrolldown .entry:not(.hidden) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    text-wrap: nowrap;
    transition: var(--transition-time) ease;
}

#app-topbar .profile-scrolldown .entry.logout {
    color: red;
}

#app-topbar .profile-scrolldown .entry:hover {
    background: rgba(var(--primary-color), 0.2);
    cursor: pointer;
}

#app-topbar .profile-details {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#app-topbar .profile-image {
    height: 80%;
    aspect-ratio: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}