body.login-page, html:has(body.login-page) {
    overflow-y: hidden !important;
}

:is(#app-layer, #floating-layer) > .content {
    height: 85%;
    max-height: 85% !important;
    width: 90%;
    max-width: 90% !important;

    position: relative;
}

#app-layer .content > .window {
    min-width: 600px;
    min-height: 300px;
    max-width: 100%;
    max-height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--window-background);
    border-radius: 5px;
    color: rgb(var(--font-color));
    padding: 35px 20px;
    margin-top: 0 !important;

    overflow-y: auto;

    border: 2px solid rgba(var(--tetriary-color), .4);
    box-shadow: 0 0 6px 0 rgba(var(--tetriary-color-dark), .8);
}

body.animate #app-layer .content > .window {
    transition: var(--transition-time) ease;
}

#app-layer .content > .window:not(.shown) {
    opacity: 0;
    pointer-events: none;
}

#app-layer .content > .window > .header-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    font-size: 46px;
    margin-bottom: 40px;
}

#app-layer .content > .window > .header-block > .top {
    font-size: 64px;
}

#app-layer .content > .window > .section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

#app-layer .content > .window > .section.horizontal {
    flex-direction: row;
}

#app-layer .content > .window .input-block {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

#app-layer .content > .window .input-block > .label {
    font-size: 24px;
}

#app-layer .content > .window .input-block > input {
    width: 100%;
    font-size: 24px;

    border-radius: 5px;
    color: rgba(var(--font-color));
    padding: 5px 10px;

    transition: 500ms border ease, 1s box-shadow ease;
}

#app-layer .content > .window .input-block > input:not(.invalid):not(.valid) {
    border: 3px solid rgba(var(--primary-color), .5);
    box-shadow: 0 0 10px rgba(var(--primary-color), .8);
}

#app-layer .content > .window .input-block > input:not(.invalid):not(.valid):focus {
    border: 3px solid rgba(var(--primary-color), .6);
    box-shadow: 0 0 15px rgba(var(--primary-color), .9);
}

#app-layer .content > .window .buttons-panel {
    align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 60px;
}

#app-layer .content > .window .back-button-box {
    height: 32px;
    font-size: 32px;

    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
}

#register-window .grid {
    row-gap: 15px;
    font-size: 24px;
    width: 100%;
}

#password-requirements .req-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}

#password-requirements .icons {
    height: 100%;
}

#password-requirements .icon {
    display: block;
    height: 100%;
    aspect-ratio: 1;
    fill: currentColor;
}

#password-requirements svg {
    height: 100%;
    width: 100%;
}

#password-requirements .req-block:not(.req-special):not(.fulfilled) {
    color: rgba(var(--error-color));
}

#password-requirements .req-block.req-special:not(.fulfilled) {
    color: rgba(var(--warning-color));
}

#password-requirements .req-block:not(.fulfilled) .icon.fulfilled {
    display: none;
}

#password-requirements .req-block.fulfilled {
    color: rgba(var(--success-color));
}

#password-requirements .req-block.fulfilled .icon.unfulfilled {
    display: none;
}

.button-style {
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 24px;
    border: 3px solid rgba(var(--button-color), .6);
    box-shadow: 0 0 10px rgba(var(--button-color), .8);

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-style:hover {
    background-color: rgba(255,255,255,.02);
}

.input-block input.invalid {
    animation: shake-horizontal 300ms;
    border: 3px solid rgba(var(--error-color), .25);
    box-shadow: 0 0 10px rgba(var(--error-color), .4);
}

.input-block input.invalid:focus {
    border: 3px solid rgba(var(--error-color), .3);
    box-shadow: 0 0 15px rgba(var(--error-color), .5);
}

.input-block input.valid {
    animation: shake-vertical 300ms;
    border: 3px solid rgba(var(--success-color), .25);
    box-shadow: 0 0 10px rgba(var(--success-color), .4);
}

.input-block input.valid:focus {
    border: 3px solid rgba(var(--success-color), .3);
    box-shadow: 0 0 15px rgba(var(--success-color), .5);
}

.back-button-box .icon {
    height: 100%;
    aspect-ratio: 1;
    fill: currentColor;
}

@keyframes shake-vertical {
    0% { transform: translateY(0px); }
    12.5% { transform: translateY(-2px); }
    25% { transform: translateY(0px); }
    37.5% { transform: translateY(2px); }
    50% { transform: translateY(0px); }
    62.5% { transform: translateY(-1px); }
    75% { transform: translateY(0px); }
    87.5% { transform: translateY(1px); }
    100% { transform: translateY(0px); }
}

@keyframes shake-horizontal {
    0% { transform: translateX(0px); }
    12.5% { transform: translateX(-3px); }
    25% { transform: translateX(0px); }
    37.5% { transform: translateX(3px); }
    50% { transform: translateX(0px); }
    62.5% { transform: translateX(-2px); }
    75% { transform: translateX(0px); }
    87.5% { transform: translateX(2px); }
    100% { transform: translateX(0px); }
}